<section class="block block--skewed-right block--dark block-showcase">
    <header class="block__header">
      <h2>User-Friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2">
      <picture class="block-showcase__image">
        <source
          type="image/webp"
          srcset="images/ipad.webp 1x, images/ipad@2x.webp"
        />
        <source
          type="image/png"
          srcset="images/ipad.png 1x, images/ipad@2x.png"
        />
        <img src="images/ipad.png" alt="" />
      </picture>
      <ul class="list block-showcase__content">
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="/images/sprite.svg#snap"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title media__title--white">
                Easy Start & Manage Updates
              </h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
                debitis, esse perspiciatis earum eius nesciunt maxime vitae
                consequatur repudiandae quo.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="/images/sprite.svg#growth"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title media__title--white">
                Staging, GIT & WP-CLI
              </h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
                debitis, esse perspiciatis earum eius nesciunt maxime vitae
                consequatur repudiandae quo.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="/images/sprite.svg#wordpress"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title media__title--white">
                Dynamic Caching & More
              </h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
                debitis, esse perspiciatis earum eius nesciunt maxime vitae
                consequatur repudiandae quo.
              </p>
            </div>
          </div>
        </li>
      </ul>
      </div>
    </div>
  </section>